/* App.css */
.text-container {
    font-size: 24px;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  #marvel {
    font-size: 36px;
    color: #333;
    font-family: Arial, sans-serif;
  }
  